body 
{
	font-family: Monospace;
	font-weight: bold;
	background-color: #ccccff;
	margin: 0px;
	overflow: hidden;
}

#infoBox {
    position: absolute;
    top: 2cm; /* Margem superior */
    left: 2cm; /* Margem esquerda */
    background-color: rgba(0, 0, 0, 0.8); /* Cor de fundo ajustada */
    color: white;
    padding: 50px 40px 40px; /* Aumenta o espaçamento interno */
    border-radius: 12px; /* Mantém bordas arredondadas */
    max-width: 400px; /* Aumenta a largura máxima */
    text-align: center;
    display: none;
    z-index: 10;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra para destaque */
}

#infoBox h3 {
    margin: 0 0 15px; /* Ajusta o espaçamento do título */
    font-size: 26px; /* Tamanho maior para o título */
}

#infoBox p {
    margin: 10px 0 0;
    font-size: 18px; /* Aumenta o tamanho do texto */
}

#infoBox .closeButton {
    position: absolute;
    top: 15px; /* Ajusta a posição vertical */
    right: 15px; /* Ajusta a posição horizontal */
    background: none;
    border: none;
    color: white;
    font-size: 22px; /* Tamanho maior para o botão */
    font-weight: bold;
    cursor: pointer;
}

#infoBox .closeButton:hover {
    color: red;
}
